a:first-child {
    padding-left: 25px;
}
a {
    color: #33cc33;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    margin: 10px;
    padding-right: 15px;
    border-right: solid lightgrey;
}
#topheader {
    background-color: #2e2e2e;
    color: white;
    padding-bottom: 5px;
    
}
#navigationbar {
    background-color: #f2f2f2;
    margin-bottom: 0px;
    padding-top: 5px;
    border-bottom: lightgrey solid 1px;
}
#footer {
    background-color: #b3b3b3;
}
#pagecontainer {
    margin-top: 0px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 0px;
}
.pagesections {
    background-color: #ccffcc;
    margin-bottom: -17px;
    padding-bottom: 30px;
}
img {
    background-color: white;
    max-height: 200px;
    margin-left: 12px;
    margin-top: 12px;
}
h1 {
    color: #33cc33;
    font-family: Arial; 
    font-weight: normal;
    font-size: 1.75em;
    margin-left: 15px;
}
.pagesections p  {
    margin-left: 15px;
}
